<div class="jarviswidget">

  <header [ngClass]="{'widget-body-ajax-loading': isRefresh}">

    <div class="jarviswidget-ctrls" role="menu" *ngIf="refreshButton == true">
      <a href="javascript:void(0);" class="button-icon jarviswidget-refresh-btn"
         data-loading-text="&nbsp;&nbsp;Loading...&nbsp;" rel="tooltip" title="Refresh"
         data-placement="bottom" (click)="onRefresh()">
        <i class="fa fa-refresh"></i>
      </a>
    </div>

    <h2 class={{titleColorClass}}><strong><p [ngStyle]="setTitleStyle()">{{title}}</p></strong></h2>
    <h2 *ngIf="lastRefreshTime" class="txt-color-darken pull-right"><strong>{{lastRefreshTime}}</strong></h2>

    <span class="jarviswidget-loader" [ngStyle]="{'display': isRefreshContent ? 'block' : 'none'}">
      <i class="fa fa-refresh fa-spin"></i>
    </span>

  </header>

  <div [ngClass]="{'widget-body-ajax-loading': isRefresh}">
    <alert type="danger" dismissible="true" *ngIf="errorMessage">
      <i class="fa-fw fa fa-times"></i><strong>{{'Error' | i18n}}!</strong> {{ errorMessage }}
    </alert>
    <div *ngIf="errorMessage == ''" class="widget-body">
      <h4>Chargement du graphique en cours ...</h4>
    </div>
  </div>
</div>
