USE [MyDatabase1]
GO

/****** Object:  Table [dbo].[Table1]    Script Date: 12/10/2019 1:53:46 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Table1](
	[Value1] [smallint] NULL,
	[Value2] [datetime] NULL,
	[DateCreation] [datetime] NULL
) ON [PRIMARY]
GO


