<div class="page-footer">
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <!--<span id="footerlogo" class="txt-color-white"><img src="/img/Sodevlog-Verysmall.png"/> - {{applicationName }} © 2020</span>-->
      <span id="footerlogo" class="txt-color-white"><img src="/img/Sodevlog-Verysmall.png"/> - SoDevLog © 2020</span>
    </div>
    <div class="col-xs-6 col-sm-9">
        <ng-marquee *ngIf="message">
            <mark>{{message}}</mark>
        </ng-marquee>
    </div>
  </div>
</div>
